<div class="container">


  <div class="form-style-6">
    <h1>Other photographers want your feedback, <%= current_user.name %>!</h1>
    <%= link_to image_tag(@random.image_file.url(:square)), "/photo/#{@random.id}" %>
    <h3>Photo by: <%= @random.user.name %></h3>
    <%= form_tag "/review" do %>
      <input type="hidden" name="review[photo_id]" value= <%= @random.id %> />
      <input type="hidden" name="review[user_id]" value=<%= current_user.id %> />
      <div>
        <%= label_tag :comment %>
        <%= text_area_tag "review[comment]", nil, placeholder: "Comment", class: "text-field" %>
      </div>
      <div>
        <%= radio_button_tag "review[rating]", 1 %><%= image_tag "thumbsup.jpg" %>
        <%= radio_button_tag "review[rating]", 0 %><%= image_tag "meh.jpg" %>
        <%= radio_button_tag "review[rating]", -1 %><%= image_tag "thumbsdown.png" %>
      </div>
      <%= submit_tag "Submit Review" %>
    <% end %>
  </div>
</div>
