<div class= "container">

  <%= link_to "Upload New Photo", "/new-photo" %>
  <%= button_to "Subscribe", send_subscribe_path, method: :post %>
</div>


<div class="row">
  <div class="col-lg-12">
    <% if current_user.photos.count > 0 %>
      <h2>What splendid photos,<%= image_tag gravatar_for "#{current_user.email}" %><%= current_user.name %>!
      </h2>
  </div>
</div>
  <div class="container">
    <div class="row">
        <% @photos.in_groups_of(4, false).each do |group| %>
          <div class="row">
            <% group.each do |p| %>
            <div class="product col-md-3 comments ">
                <%= link_to image_tag(p.image_file.url(:square)), "/photo/#{p.id}"  %>
                <p class="words"><%= p.description %></p>
            </div>
            <% end%>
            </div>
        <% end%>
      <% else%>
      <h2>Time to <%= link_to "upload", "/new-photo" %> some photos, <%= current_user.name %>!</h2>
      <% end %>


  </div>

</div>
