<div class="not_yet">
  <div class="photo">
    <%= image_tag @photo.image_file.url(:big) %></a>
  </div>
  <div class="description">
    <h3>c<%= @photo.description %></h3>
  </div>
  <div class="button">
    <% if @photo.user_id == current_user.id %>
    <form action="/photo/<%= @photo.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE" />
      <input class="button btn-danger" type="submit" value="Delete" data-confirm="Delete photo?"/>
    </form>
    <% end %>
  </div>
  <% @photo.reviews.each do |r| %>
    <div class="user_review">
      Reviewed By:<a href= "/user/<%= r.user.id %>/photos"><%= image_tag gravatar_for "#{r.user.email}" %><%= r.user.name %></a></h3>
      Rating: <%= r.rating %>
      Comment: <%= r.comment %>
    </div>
  <% end %>
</div>
