<div class="form-style-6">

  <%= image_tag @photo.image_file.url(:big) %></a>
  <%= @photo.description %>
  <% if @photo.user_id == current_user.id %>
    <form action="/photo/<%= @photo.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input type="hidden" name="_method" value="DELETE" />
      <input class="button" type="submit" value="Delete" data-confirm="Delete photo?"/>
    </form>
  <% end %>
  <% @photo.reviews.each do |r| %>
    <div class="user_review">
      Reviewed By:<%= r.user.email %>
      Rating: <%= r.rating %>
      Comment: <%= r.comment %>
    </div>
  <% end %>
</div>
